*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}
body{
  color: #3e7099;
  /* background-color: #e3e6f3; */
  background-color: #12424c;
}

html {scrollbar-color: #888 #12424c;}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  margin: 0 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0 0 14px 14px;
  padding: 3px 0;
  height: 70px;
  overflow: hidden;
}
.header-transparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  margin: 0 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0 0 14px 14px;
  padding: 3px 0;
  opacity: 0.8;
}

#left-navbar {
  display: flex;
    align-items: center;
    margin: 0 25px;
}

#right-navbar {
  display: flex;
  align-items: center;
}

#left-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
#right-navbar {
  display: flex
;
  list-style: none;
  
  padding: 0;
 
  color: rgb(18, 66, 76);
  justify-content: flex-end;
}
.lang-div {
  background-color: #00586b;
  border-radius: 48%;
  margin: 5px 21px 0 21px;
  width: 74px;
  height: 30px;
}




#left-navbar li {
  
  display: flex;
  align-items: center;
  list-style: none;
}
#right-navbar li {
  list-style: none;
  padding: 3px;
  border-radius: 46%;
  color: #fff;
  border: 3px solid;
  margin: 1px 0px 0px 0px;
  cursor: pointer;
    font-family: system-ui;
    text-shadow: rgb(184, 215, 241) 1px 1px 5px;
}




.text-title{
  font-weight: 500;
    font-family: "Sofia", serif;
    text-align: center;
    font-size: 20px;
    color: #e1a55b;
    margin: 45px 15px 20px 15px;
}
.text-btm-title{
  font-weight: 500;
  font-family: "Amiri", serif;
    text-align: center;
    font-size: 20px;
    color: #e1a55b;
    margin: 45px 15px 20px 15px;
}


.cat-par{
  display: flex;
  height: calc(72vh - env(safe-area-inset-bottom));
  flex-direction: column;
}
.category-card {
  width: 300px;
  background-color: #00586b;
  margin: auto;
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-radius:32px;
  cursor: pointer;
}
.category-card:hover{
  box-shadow: 4px 1px 5px rgb(253,199,199,1);
  outline: 2px solid #fdc7c7;
  cursor: pointer;
}
.category-card.active{
  box-shadow: 4px 1px 5px rgb(253,199,199,1);
  outline: 2px solid rgb(253, 199, 199);
  cursor: pointer;
}
.category-card-img{
  width: 60px;
  aspect-ratio: 447 / 559;
  object-fit: contain;
  margin: 0px 5px 1px 16px;
}


.category-card-text{
  font-size: 26px;
  color: #e1a55b;
  margin: 34px 27px 0 22px;
  font-family: "Amiri", serif;
  font-weight: 600;
  /* margin: auto 27px; */
  /* line-height: 23px; */
}


.par-sub{
  display: grid;
      grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

.category-sub{
 
  position: relative;
  width: 122px;
  height: 115px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 5px;
  min-width: 122px;
  border-radius: 10px;
  padding: 5px;
  background-position: center;
  border: 3px solid white;
  }

  .sub-category-card {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sub-category-card-img-div {
  width: 138px;
    height: 138px;
    margin: 0px 10px 15px 10px;
position: relative;
}
  
.sub-category-card-img {
  border: 1px solid #e1a55b;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 51%;
  height: 100%;
  background-color: #00586b;
}
.sub-category-card-img:hover{
  box-shadow: 4px 1px 5px rgb(253,199,199,1);
  outline: 2px solid #fdc7c7;
  cursor: pointer;
}
.sub-category-card-img.active{
  box-shadow: 4px 1px 5px rgb(253,199,199,1);
  outline: 2px solid rgb(253, 199, 199);
  cursor: pointer;
}  

  .sub-category-card-text {
    background-color: #00586b;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 66px;
    text-align: center;
    color: #e1a55b;
    font-family: "Amiri", serif;
    margin: auto;
}
  




  .product{
 
    position: relative;
    width: 128px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 5px;
    min-width: 122px;
    border-radius: 10px;
    background-position: center;
    outline: 3px solid #00586b;
   }

   .product-par {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 30px;
    justify-items: center;
    border-top: 2px solid #fdc7c7;
    justify-content: center;
    padding-top: 46px;

  }

   .search-container {
    position: relative;
    background-color: #00586b;
    border: 1px solid #ddd;
    border-radius: 13px;
    padding: 5px 10px;
    max-width: 191px;
    margin: 0 25px 0 0;
    height: 38px;
}
  
input::placeholder{
  color: #c7c7c7;
  /* color: #999; */
  /* display: flex;
  align-items: center; */
}

.search-input {
  display: flex;
  align-items: center;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #00586b;
    color: #e1a55b;
    width: 100%;
  }
  
  
  .time-table{
    background-color: #00586b;
  }
 
  






  /* .App {
    text-align: center;
  }
   */
   .loading-screen {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00586b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 4px dashed #e1a55b;
    border-radius: 50%;
    animation: spin 20s linear infinite;
  }
  
  .loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 295px;
    height: auto; */
    

  }
  .lod-text{
    position: absolute;
    top: 60px;
    left: auto;
font-size: 25px;
font-family: "Amiri", serif;
color: #e1a55b;
  }


  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 88, 107, 0.3);
    /* border-top: 4px solid white; */
    border-top: 4px solid #00586b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }



  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


.search-container {
    position: relative;
    background-color: #00586b;
    border: 1px solid #ddd;
    border-radius: 13px;
    /* padding: 5px 10px; */
    width: 191px;
    margin: 0 25px 0 0;
    height: 38px;
}

  @media (max-width:342px) {
    .category-card {
      height: 70px;
  }
  /* .cat-par {
    display: flex;
    height: calc(64vh - env(safe-area-inset-bottom));
    flex-direction: column;
} */
.search-container {
  background-color: #00586b;
  border: 1px solid #ddd;
  border-radius: 13px;
  /* padding: 5px 10px; */
  max-width: 160px;
  margin: 0 25px 0 0;
  height: 38px;
}
.text-title {
  font-weight: 500;
  font-family: "Sofia", serif;
  text-align: center;
  font-size: 20px;
  color: #e1a55b;
  margin: 22px 15px 20px 15px;
}
.lod-text{
  position: absolute;
  top: 25px;
  left: auto;
font-size: 25px;
font-family: "Amiri", serif;
color: #e1a55b;
}
  }